.grid {
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 80%;
  max-width: 300px;
}

.form-img {
  width: 100%;
  max-width: 120px;
}

.mail-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
  padding: 7px;
  border-radius: 5px;
  height: 54px;
}

.input-icon {
  width: 32px;
}

#mail {
  border: none;
  outline: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.212);
  
}

.password-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
  padding: 7px;
  border-radius: 5px;
  height: 54px;

}

#password {
  border: none;
  outline: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.212);
}

.confirm-password-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
  padding: 7px;
  border-radius: 5px;
  height: 54px;

}

#confirmpassword {
  border: none;
  outline: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.212);
}

.input-btns {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.input-btn {
  background-color: var(--button-color);
  padding: 5px;
  border: none;
  width: 50%;
  border-radius: 5px;
  color: white;
  transition: 0.5s;
}

.input-btn:hover {
  background-color: var(--button-color-hover);
  transform: scale(1.02);
  cursor: pointer;
}

.link-btn {
  font-size: 7pt;
  color: grey;
}
