* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main-color: #363636;
  --background-color: #ffffff;
  --button-color: #000000;
  --button-color-hover: #161616;
}
